<html lang="en">

<head>

<meta charset="utf-8">

<meta http-equiv="X-UA-Compatible" content="IE=edge">

<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Lifep04oz</title>

<link rel="stylesheet" href="https://ebayninjafolio.com/sandeep/lifepo4oz/css/bootstrap.min.css">

<link rel="stylesheet" href="https://malihu.github.io/custom-scrollbar/jquery.mCustomScrollbar.min.css">

<link rel="stylesheet" href="https://ebayninjafolio.com/sandeep/lifepo4oz/css/style.css">

<link rel="stylesheet" href="https://ebayninjafolio.com/sandeep/lifepo4oz/css/responsive.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

<div class="product_detail_page">

  <header>



    <div class="store_top_header">

<div class="container">

<div class="row align-items-center">

<div class="col-md-12">

<div class="welcome_text">Welcome to our <strong>eBay Shop</strong></div>

</div>

</div>

</div>

</div>

    <div class="top_header">

      <div class="container">

        <div class="row vertical-middle">

          <div class="col-md-12 col-sm-12">

            <div class="logo"><a href="#" target="_blank"><img src="https://ebayninjafolio.com/sandeep/lifepo4oz/images/logo.png" alt="Logo"></a></div>

          </div>



        </div>

      </div>

    </div>

  </header>



  <div class="container">

<div class="listing_listinghead">

<h1>{Title}</h1>

</div>

    <div class="row">

      <div class="col-md-12 flex-div">

        <div class="gallery-left">

          <div class="product_gallery_section">

            <div class="span12 text-center"> <a href="#img1"> <img class="logo" src="{CDNUrl}/productimages/{ProductID}.png?width=547&amp;etag={etag}"> </a> <a href="#_" class="lightbox" id="img1">

              <div class="close-img">&times</div>

              <img src="{CDNUrl}/productimages/{ProductID}.png?width=800&amp;etag={etag}" /> </a> {for images} <a href="#_" class="lightbox" id="img{position+1}">

              <div class="close-img">&times</div>

              <img src="{cdnurl}{images.src}&width=800&amp;height=600&amp;nostretch"> </a> {/for}

              <div class="clearfix"></div>

              {if count(images) > 1}

              <hr/>

              {/if}

              

              {for images step=4}

              <div class="row image-row text-center"> {for Images count=4 start={position}}

                <div class="span2"><a class="image fancybox" href="#img{position+1}"><img src="{cdnurl}{images.src}&width=200&amp;height=200"/></a></div>

                {/for} </div>

              {/for} <br />

            </div>

          </div>

        </div>

      </div>

    </div>

 </div>







<div class="container">

<div class="listing_listingarea-box">

<div class="desc-hedtitle"><span>Description</span></div>

<div class="desc-rd desc-text">

{include field="EbayDescription"}

</div>

</div>





<div class="listing_listingarea-box">

<div class="desc-hedtitle"><span>About us </span></div>

<div class="desc-rd desc-text">

<p><strong>Saving Energy, Saving Money, Saving the Environment</strong></p>

<p>We founded <strong>Lifepo4 Oz</strong>&nbsp;with one goal in mind: providing high-quality, smart, and reliable energy storage solutions for Australians.&nbsp; Our passion for helping people to store energy, save money while also preserving the environment drives us to discover and distribute emerging products. We know that working with new products can be exciting but sometimes difficult and uncomfortable, so we're here to simplify the whole experience.</p>

</div>

</div>





<div class="listing_listingarea-box">

<div class="desc-hedtitle"><span>Shipping </span></div>

<div class="desc-rd desc-text">

<div class="row">

<div class="col-md-12">

<p>All orders will be safely packed and shipped within 1 day.&nbsp; All batteries are shipped via Road Freight only.</p>

<p>All efforts are made to ensure the products safe during transport, however if you receive an item which looks like it may have been damaged during transport you must take a photo before trying to use the product.</p>

</div>

</div>

</div>

</div>





<div class="listing_listingarea-box">

<div class="desc-hedtitle"><span>Payment</span></div>

<div class="desc-rd desc-text">

<div class="row">

<div class="col-md-12">

<p>Payment can be made via PayPal. We accept all major debit and credit cards.</p>

</div>

</div>

</div>

</div>



<div class="listing_listingarea-box">

<div class="desc-hedtitle"><span>Returns</span></div>

<div class="desc-rd desc-text">

<div class="row">

<div class="col-md-12">

<p>We aim to sell high quality products but as with life it doesn't always go to plan.&nbsp; As such if you receive a product which does not work as described, you need to let us know within 30 days to receive a replacement product.&nbsp; You must be able to describe and/or show us that it's not working as it should.&nbsp; We will then work to have the product returned and replaced with a new one.&nbsp; No refunds are provided.</p>

</div>

</div>

</div>

</div>



<div class="dezign_footer_wapper">

<div class="thank_you_text"><span>Thank you</span> For Visiting <span>Our Product</span></div>

<div class="copy-footer">

<div class="footer-div1">

<div id="dezign_copy">© Copyright 2021 All rights reserved.</div>

</div>

</div>

</div>

</div>

</div>

</body>

</html>

